.about {
  background-color: #fde2e2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 1rem;
  text-align: left;
  padding-left: 8vw;
  padding-top: 10vh;
  word-spacing: 10px;
  letter-spacing: 2px;
}
.about__content{
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 10vh;
}