.about {
  background-image: url("../../images/home40.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 360px;
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}
.about__title {
  color: $second-color;
  font-size: 1rem;
  text-align: left;
  padding-left: 8vw;
  padding-top: 10vh;
  word-spacing: 10px;
  letter-spacing: 2px;
  @include tablet {
    font-size: 1.2rem;
  }
}
.about__content {
  color: $darkest-color;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 5vh;
  display: inline-block;
}

.about__list {
  padding: 8vh 10vw;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 40px;
}
.about__list--item{
  background-color: $main-color;
  padding: 8px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius:10px;
  width:105px;
  height: 105px;
}

.about__list--item-icon{
  width:50px;
}
.about__list--item-icongulp{
  width:33px;
}