.about {
  background-image: url("../../images/home40.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}
.about__title {
  color: #555a5a;
  font-size: 1rem;
  text-align: left;
  padding-left: 8vw;
  padding-top: 10vh;
  word-spacing: 10px;
  letter-spacing: 2px;
}
.about__content {
  // color: #555a5a;
  color: black;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 5vh;
  display: inline-block;
}

.about__list {
  color: #555a5a;
  padding: 8vh 10vw;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 40px;
}
.about__list--item{
  background-color: #a5c6b1;
  padding: 8px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius:10px;
  width:105px;
  height: 105px;
}

.about__list--item-icon{
  width:50px;
}
.about__list--item-icongulp{
  width:33px;
}