.footer {
  width: 100%;
  min-width: 450px;
  background-color: black;
  color: white;
  background-image: url("../../images/contact2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer__container {
  height: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.footer__title {
  font-size: 1rem;
  text-align: left;
  word-spacing: 10px;
  letter-spacing: 2px;
  padding-left: 8vw;
  padding-top: 10vh;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 14vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.footer__content--logo{
  width:125px;
}
.footer__content--text{
  padding-left: 8vw;
  font-size: 3rem;
  word-spacing: 10px;
  letter-spacing: 2px;
}
.footer__rrss {
  padding-top: 14vh;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__rrss--list{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content:space-around;

}
.rrss_link{
  text-decoration: none;
  color: white;
}
.icon{
  width: 40px;
  font-size: 60px;
  &:hover {
    animation: bounce 0.5s;
  }
  @keyframes bounce {
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    20% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
    40% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
    }
    60% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }

    80% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
    }
  }

}
.footer__copy {
  // background-color: #a5c6b1;
  font-size: 0.8rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.footer__link--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2vw;
}
.footer__link {
  width: 40px;
  cursor: pointer;
  animation: up-down 0.7s infinite ease-in alternate;

  @keyframes up-down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20%);
    }
  }
}
