.home {
  background-color: #01314b;
  background-image: url("../../images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 100vh;
  min-width: 450px;
}

.home__title {
  color: #5e6464;
  font-size: 1rem;
  text-align: left;
  word-spacing: 10px;
  letter-spacing: 2px;
  padding-left: 8vw;
  padding-top: 10vh;
}
.home__container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
// .home__container--img {
//   background-color: transparent;
//   width: 350px;
//   height: 350px;
// }
// .home__container--image {
//   width: 350px;
//   height: 350px;
//   border-radius: 10%;
// }
.home__text {
  width: 25em;
  margin: 50px auto;
  color: #5e6464;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 150%;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 5s steps(50) 1s 1 normal both,
    blinkTextCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 25em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
