.home{
    background-color:#fdf8ed;
    height: 100vh;
}

.home__title{
    font-size: 1rem;
    text-align: left;
    word-spacing: 10px;
    letter-spacing: 2px;
    padding-left: 8vw;
    padding-top: 10vh;
}