.home{
    background-color:#fdf8ed;
    height: 100vh;
}

.home__title{
    font-size: 1rem;
    text-align: left;
    word-spacing: 10px;
    letter-spacing: 2px;
    padding-left: 8vw;
    padding-top: 10vh;
}
.home__text{
    
      width: 25em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 100%;
      word-spacing: 1px;
    letter-spacing: 1px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      animation: typewriter 5s steps(50) 1s 1 normal both,
      blinkTextCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 25em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}