.nav-menu {
  background-color: $main-color-alpha08;
  color: $lightest-color;
  position: fixed;
  font-size: 0.8rem;
  min-width: 360px;
  width:100%;
  box-shadow: 4px 0px 10px -5px rgba(0, 0, 0, 0.75);
  z-index: 99;
  @include tablet {
    font-size: 1rem;
  }
  @include desktop {
    font-size: 1.2rem;
  }
}
.nav-menu__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
} 

nav li a:active {
  border-bottom: $second-color 2px solid;
  
}
.item {
  letter-spacing: 2px;
  &:hover {
    color: $second-color;
  }
}
