.nav-menu {
  background-color: $main-color-alpha08;
  color: $lightest-color;
  position: fixed;
  font-size: 1rem;
  width: 100%;
  min-width: 450px;
  box-shadow: 4px 0px 10px -5px rgba(0, 0, 0, 0.75);
  z-index: 99;
}
.nav-menu__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
} 

nav li a:active {
  border-bottom: $second-color 2px solid;
  
}
.item {
  word-spacing: 5px;
  letter-spacing: 2px;
  padding: 0 5px;
  &:hover {
    color: $second-color;
  }
}
