.nav-menu {
  background-color: #29292c;
  opacity: 0.8;
  color: #fdf8ed;
  position: fixed;
  font-size: 1rem;
  width: 100%;
  min-width: 450px;
  -webkit-box-shadow: 4px 0px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 10px -5px rgba(0, 0, 0, 0.75);
  z-index: 99;
}
.nav-menu__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}
.menu-container_list__item {
  display: block;
  position: relative;
  font-size: 1rem;
}

nav li a:after {
    content: '';
    height: 100%;
    right: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -99;
    opacity: 0.3;
}  

nav li a:active {
  border-bottom: white 2px solid;
  
}
.item1 {
  border-left: 10px solid black;
  border-right: 10px solid black;
  padding: 0 5px;
  &:hover {
    color: black;
  }
}
.item2 {
  border-left: 10px solid #fde2e2;
  border-right: 10px solid #fde2e2;
  padding: 0 5px;
  &:hover {
    color: #fde2e2;
  }
}
.item3 {
  border-left: 10px solid #FDF4BD;
  border-right: 10px solid #FDF4BD;
  padding: 0 5px;
  &:hover {
    color: #FDF4BD;
  }
}
.item4 {
  border-left: 10px solid black;
  border-right: 10px solid black;
  padding: 0 5px;
  &:hover {
    color: black;
  }
}