.projects{
    background-image: url("../../images/plant40.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}
.projects__title {
    font-size: 1rem;
    text-align: left;
    padding-left: 8vw;
    padding-top: 10vh;
    word-spacing: 10px;
    letter-spacing: 2px;
  }
  .projects__list{
      padding-left: 8vw;
      padding-right: 8vw;
      padding-top: 10vh;
      list-style: none;
  }