.projects {
  background-image: url("../../images/plant40.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 100vh;
  min-width: 360px;
  display: flex;
  flex-direction: column;
}
.projects__title {
  color: $second-color;
  font-size: 1rem;
  text-align: left;
  padding-left: 8vw;
  padding-top: 10vh;
  word-spacing: 10px;
  letter-spacing: 2px;
}
.projects__list {
  padding: 10vh 8vw;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.projects__list--itemContainer {
  height: auto;
  background-image: url("../../images/contact.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 8vh;
  box-shadow: 3px 5px 10px $main-color;
}
.projects__list--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item__title {
  color: $lightest-color;
  font-size: 1rem;
  word-spacing: 10px;
  letter-spacing: 2px;
}
.item__description {
  padding: 4vh 0 2vh;
  color: $lightest-color;
}
.item__list-tags {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4vh;
}
.item__tag {
  color: $lightest-color;
  margin: 3px;
  background-color: $main-color;
  padding: 6px;
  box-shadow: 1px 1px 3px $lightest-color;
  border-radius: 10px;
}
.item-img {
  width: 400px;
}
.item-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 4vh;
}
.link {
  text-decoration: none;
}
.projectIcon {
  color: $main-color;
  background-color: $lightest-color;
  box-shadow: 3px 3px 5px $main-color;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  &:hover {
    color: $third-color;
    box-shadow: 3px 3px 5px $third-color;
    transform: scale(1.05);
  }
}
