
@import "./components/main.scss";
@import "./components/header.scss";
@import "./components/footer.scss";


// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
